.parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
}

img{
    max-height: 80vh;
}

button{
    color: #0d6efd;
    background: transparent;
    font-weight: bold;
}

@media only screen and (min-width:767px) and (max-width:992px){
    .parent{
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (min-width:575px) and (max-width:767px){
    .parent{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width:575px){
    .parent{
        grid-template-columns: repeat(1,1fr);
    }
}
