.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-parent,.recover-or-forgot{
    width: 600px;
    padding: 50px 30px;
    box-shadow: 0 0 10px 10px #f4f4f4;
    margin-top: 80px ;
}
